.input {
    /* border: 1px solid blue; */
    background-color: #f4f3f4;
    width: 30em;
    height: 50px;
}

.input:hover {
    background-color: white;
    width: 30em;
    height: 50px;
}
.input:focus {
    background-color: white;
    width: 500px;
    height: 50px;
}

.input-innerContainer {
    /* border: 1px solid purple; */
    height:80px;

}

.input-outerContainer {
    /* border: 1px solid yellow; */
    /* width: 100px; */
    height:100px;
}

.location-section {
    /* border: 1px solid black; */
    width: 600px;
    /* border-radius: 30px; */
    /* background-color: #ffdead; */
   
    
    /* background-color: white; */
}

.location-section:hover {
    /* border: 1px solid black; */
    width: 30em;
    background-color: #f4f3f4;
}

.outside-location-section {
    border: 1px solid red;
    display: flex;
    /* margin-right: 50px; */
    justify-content: space-between;
    /* width: 600px; */
   background-color: white;
;
}
/* *-------------------------------------------------------------------------------------------------------*/
.FormContainer{
    /* border: 1px solid orange; */
    /* background-color: #f4f3f4; */
    position: relative;
    left: 100px;
    width: 55em;
}

.FormContainer:hover{
    /* border: 1px solid orange; */
    background-color: #f4f3f4;
    position: relative;
}
/* *-------------------------------------------------------------------------------------------------------*/

.eventImg {
    /* border: 1px solid white; */
    width: 800px;
    height: 350px;
}
.eventImg-imgdropdown{
/* 
    width: 350px;
    height: 350px; */
}
/* *-------------------------------------------------------------------------------------------------------*/
/* Basic Info Section */
.basicInfoTxt {
    font-size: 30px;
}

.sectionHeader{
    font-size: 50px;
}

.outside-form-container {
    border: 1px solid purple;
    /* justify-content: flex-end; */
    /* right: 1000px; */
    width: 100%;
}


/* *-------------------------------------------------------------------------------------------------------*/
/* *-------------------------------------------------------------------------------------------------------*/