.html{
    
}

.singleEvent-Container{
    /* border: 5px solid red; */
    /* background-color:#cfcfc4; */
    background-color:#f5f5f5;
    height: 2010px;
}

.eventDisplay-container{
    border: 5px solid black;
    background-color: white;
    position: absolute;
    /* color: white;
    text-decoration: none;     */
    /* display: flex; */
    gap: 30px;
    left:17%;
    width: 1100px;
    height: 2000px;
}
.eventDisplay{
    list-style: none;
    color: white;
    text-decoration: none; 

}

.eventDisplay-image{
    /* border: 5px solid orange; */
    z-index: 1;
    width: 1100px;
}

.singleEvent-backgroundImg {
    display: flex;
    position: absolute;
    width: 100%;
    height: 650px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(6px);
}

.eventDisplay-element{
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    /* justify-content: space-between; */
    margin-bottom: 50px;
    top: 400px;
}

.eventDisplay-element.date{
    /* border: 5px solid orange; */
    position: relative;
    top: 30px;
    font-size:30px;
}

.eventDisplay-element.title{
    /* border: 5px solid yellow; */
    position: relative;
    top: 50px;
    font-size:50px;
    
}
.eventDisplay-element.title:hover{
    /* color: blue; */
    
}
.eventDisplay-element.tickets{
    /* border: 5px solid red; */
    position: relative;
    top: 10px;
    font-size:30px;
    
}
.eventDisplay-element.price{
    /* border: 5px solid purple; */
    position: relative;
    top: 0px;
    font-size:30px;
    
}
.eventDisplay-element.description{
    /* border: 5px solid green; */
    position: relative;
    top: 30px;
    font-size:40px;

}





.delete-container{
    display: flex;
    position: relative;
    top: 0px;
    /* left: 1280px; */
    color: blue;    
    /* border: 5px solid black; */
    background-color: rgba(255, 0, 0, 0.507);
    border-radius: 15em;
    text-decoration: none;
    color:white;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* z-index: 0; */
    width: 150px;
    height: 45px;
}
.delete-container:hover{
    background-color: red;
    cursor: pointer;
    color: black;
}

.eventDisplay-editBtn{
    display: flex;
    position: absolute;
    top: 0px;
    /* bottom: 200px; */
    left:0px;
    /* border: 5px solid black; */
    background-color: rgba(255, 0, 0, 0.507);
    /* color:black; */
    color: white;
    border-radius: 15em;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* z-index: 0; */
    width: 150px;
    height: 45px;
}

.eventDisplay-editBtn:hover{
   
    background-color: red;
    /* color: white; */
    color:black;
    cursor: pointer;
    /* color:black; */
    
}

.EditLink {
    text-decoration: none;
    color: white;
}