
.bookmarks-outmost-ctnr{
background-color:#f5f5f5;
/* border: 2px solid red; */
/* border: 2px solid yellow; */
min-width: 100%;
margin: 0px;
height: 150em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* width: 100%; */
}

.bookmarks-outerContainer{
    /* border: 2px solid orange; */
    display: flex;
    /* height: 1000px; */
    /* border: 2px solid black; */
    flex-direction: column;
    gap: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
}
.bookmarks-outerContainer:hover{
    /* height:300px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.bookmarks-innerContainer{
    /* border: 3px solid black; */
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    /* height: 1000px; */
    
    width: 100%;
    height:300px;
    
}
.bookmarks-innerContainer:hover{
    background-color: grey;
    /* display: flex; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 30px; */
    box-shadow: 1px 10px 10px 10px black;
    
    /* width: 100%;
    height:500px; */
    
}
.bookmarks-innerContainer > *:hover{
    /* background-color: grey; */
    /* display: flex; */
    /* box-shadow: 10px 10px 10px 10px black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    /* width: 100%;
    
    height:500px; */
    /* font-size:25px; */
    
} 

.bookmarkContent-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid blue; */
    /* display: flex; */
    /* flex-direction: row; */
    text-decoration: none;
    /* align-content: ;
    */
    color:black;
    width: 100%;
    height:300px;
}

.bookmark-img {
    width: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:300px;
    float: left;
}

.bookmarkInfo {
    /**/
    /* text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    list-style: none; */
}

.bookmarkTitle{
    position: relative;
    text-decoration: none;
    /* border: 2px solid black; */
    /* position: absolute; */
    /* top: 20px */
    color: black;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    left: 5%;
    /* width: 700px; */

}

.bookmarkDescription{
    position: absolute;
    text-decoration: none;
    color: black;
    list-style: none;
    width: 700px;
    /* border: 2px solid red; */
    left: 48%;
    /* top: 50%; */
    /* top: 10px; */

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.deleteBtn-container{
    text-align: center;
    align-content: center;
    text-decoration: none;
    list-style: none;
    /* background-color: blue; */
    /* border: 2px solid pink; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:30px;

}

.DeleteBtn{
    /* border: 2px solid black; */
    position: absolute;
    left: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.DeleteBtn:hover{
    /* border: 2px solid black; */
    position: absolute;
    left: 80%;
    width: 310px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 10px darkgray;
    background-color:rgba(255, 0, 0, 0.651);
}

.EventsTitle{
    border-bottom: 5px solid black;
}
