.browsepage-container{
    /* position: relative; */
    height: 550px;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    /* justify-items: center; */
}


.navlinks > * {
    position: absolute;
    border-radius: 15px;
    /* background-color: orange; */
    text-decoration: none;
    padding: 10px;
    top: 2px;
}

.userNavlinks {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 400px;
    top: 10px;
    left: 50%;
}

.userNavlinks > * {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: black;
}

.nav-container {
    position: relative;
    /* border: 2px solid black; */
    align-items: center;
    height: 50px;
    bottom: 10px;
    
    
}

.Home {
    position: relative;
    /* border: 2px solid black; */
    color: #D70040;
    font-family: Tahoma,Arial,sans-serif;
    font-weight: bolder;
    font-size: 40px;
    right: 7%;
    
}


.signupbtn{
    position: relative;
    /* border: 2px solid black; */
    color: black;
    height: 19px;
    top: 10px;
    
}

.nav-search{
    
    position: relative;
    bottom: 4%;
    right: 25%;
}

.nav-search > * {
    height: 25px;
    background-color: whitesmoke;
    width: 300px;
    
}

.searchInput{
    /* height: px; */
    position: relative;
    border: 2px solid white;
    height:40px;
    width: 400px;
    left: 40px;
    
}

.profileBtn-container{
    /* border: 2px solid black; */
    position: relative;
    left: 10%;
    height: 25px;
    width: 100px;
    background-color: white;
    border: 2px solid white;
    
}


.profileBtn{
    display: inline-block;
    position: relative;
    right: 70px;
    /* left: 10%; */
    width: 170px;
    height: 40px;
    font-size: 25px;
    padding: 0;
    color: #D70040;
    font-family: Tahoma,Arial,sans-serif;
    /* text-decoration: none; */
    position: relative;
    font-weight: bolder;
    background-color: white;
    /* border: 4px solid white; */
    /* border-radius: 20px; */
    border: 2px solid ;
}
.profileBtn:hover{
    outline:none;
    text-decoration: none;
    list-style: none;
}

.profile-dropdown{
    position: relative;
    list-style: none;
    border: 1px solid black;
    background-color: #f5f5f5;
    bottom: 12px;
    width: 100px;
    height: 100px;
    right: 50%;
}

.browsepageImg{
    width: 100%;
}