.browsepage-container{
    
}

.navlinks {
    display: flex;
    justify-content: space-around;
    /* justify-items: center; */
}


.navlinks > * {
    position: absolute;
    border-radius: 15px;
    /* background-color: orange; */
    text-decoration: none;
    padding: 10px;
    top: 2px;
}

.userNavlinks {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 400px;
    top: 10px;
    left: 50%;
}

.userNavlinks > * {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: black;
}

.nav-container {
    position: relative;
    /* border: 2px solid black; */
    align-items: center;
    height: 50px;
    bottom: 10px;
    
    
}

.Home {
    position: relative;
    /* border: 2px solid black; */
    color: red;
    font-family: Neue Plak,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: bolder;
    font-size: x-large;
    right: 7%;
    
}


.signupbtn{
    position: relative;
    /* border: 2px solid black; */
    color: black;
    height: 19px;
    top: 10px;
    
}

.nav-search{
    
    position: relative;
    bottom: 4%;
    right: 25%;
}

.nav-search > * {
    height: 25px;
    background-color: whitesmoke;
    width: 300px;
    
}

.searchInput{
    /* height: px; */
    border: 2px solid white;
    
}

.profileBtn-container{
    border: 2px solid black;
    position: relative;
    left: 10%;
    height: 25px;
    width: 100px;
    background-color: white;
    border: 2px solid white;
    
}


.profileBtn{
    /* position: relative; */
    /* left: 10%; */
    /* width: 100px; */
    position: relative;
    font-weight: bolder;
    font-family:  Neue Plak,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-size: x-large;
    background-color: white;
    border: 2px solid ;
}

.profile-dropdown{
    position: relative;
    list-style: none;
    background-color: white;
    bottom: 12px;
    width: 100px;
    height: 100px;
    right: 50%;
}

.browsepageImg{
    width: 100%;
}