.loginbtn-container {
    position: absolute;
    /* border: 5px solid pink; */
    width: 100px;
    height: 50px;
    left: 94%;
}


.loginbtn {
    position: absolute;
   border-radius: 15px;
   background-color: white;
   font-weight: bolder;
   font-size: 22px;
   border: 2px solid white;
   width: 70px;
   height: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   right: 50%;
   /* top: px; */
   bottom: 30%;
}

.modal-content{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    /* border: 5px solid red; */
    position: relative;
    top:150px;
    height: 200px;
    /* height:100%; */
}

.modal-content > *{
    
    /* border: 3px solid orange; */
    margin-bottom: 20px;
    width: 300px;
    
}

.modal-container{
    height: 500px;
    width: 500px;
    background-color: #f5f5f5;
}
.modal-input {
    width: 300px;
    height: 30px;
}

.modal-login-btn{
    position: relative;
    height: 80px;
}

.FYNE-Btn{
    position: relative;
    bottom: 110px;
    background-color: #D70040;
    color: white;
    border-radius: 10px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    z-index: 1;
    height: 80px;
    width: 300px;
}